<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" href="/favicon.ico">
    <title>{{ site.title | default: site.github.repository_name }} - {{ page.title }}</title>

    <link rel="stylesheet"  href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">

    <meta name="description"
          content="Serendeepia is a group of experts in Machine Learning and Deep Learning. We build custom solutions based on state of the art research and we help our customers to develop their own capabilities to use Artificial Intelligence.">

    {%- if page.title -%}
    <meta property="og:title" content="{{ site.title | default: site.github.repository_name }} - {{ page.title }}"/>
    {%- else -%}
    <meta property="og:title" content="{{ site.title | default: site.github.repository_name }}"/>
    {%- endif -%}
    {%- if page.image -%}
    <meta property="og:image" content="/assets/{{ page.image }}"/>
    {%- else -%}
    <meta property="og:image" content="http://serendeepia.com/assets/logo_300.png"/>
    {%- endif -%}
    {%- if page.description -%}
    <meta property="og:description" content="{{ page.description }}"/>
    {%- else -%}
    <meta property="og:description"
          content="Serendeepia is a group of experts in Machine Learning and Deep Learning. We build custom solutions based on state of the art research and we help our customers to develop their own capabilities to use Artificial Intelligence."/>
    {%- endif -%}

</head>
<body>
<header>
    <div class="wrapper">
    <h1><a href="/">
        <img src="/assets/logo.svg" width="48px"/>
        <span>{{ site.title | default: site.github.repository_name }}</span>
    </a></h1>
    <a href="javascript:void(0);" class="icon" id="menu-icon" onclick="navBarToggle()">
        <i class="fa fa-times" id="menu-close"></i>
        <i class="fa fa-bars" id="menu-bars"></i>
    </a>
    <nav class="main-nav" id="main-nav">
        <ul class="nav nav-tabs">
            {% comment %}
            {%- assign navigation_pages = site.html_pages | sort: 'navigation_weight' -%}
            {%- for p in navigation_pages -%}{%- if p.navigation_weight -%}
                <li {% if p.url == page.url %} class="active" {% endif %}>
                    <a href="{{ p.url }}">{{p.title }}</a>
                    {%- if p.title == 'Products' -%}
                        <ul class="nav-submenu">
                        {%- for product in site.products reversed -%}
                            {%- if product.date < site.time -%}
                                <li><a href="{{ product.url }}">{{ product.title }}</a></li>
                            {%- endif -%}
                        {%- endfor -%}
                        </ul>
                    {%- elsif p.title == 'Solutions' -%}
                        <ul class="nav-submenu">
                            <li><a href="{{ p.url }}#professional_services">Professional Services</a></li>
                            <li><a href="{{ p.url }}#success_stories">Success Stories</a></li>
                        </ul>
                    {%- endif -%}
                </li>
            {%- endif -%}{%- endfor -%}
            {% endcomment %}
        </ul>
    </nav>
    <div style="clear: both"></div>
    </div>
</header>
<script>
    function navBarToggle() {
        var x = document.getElementById("main-nav");
        if (x.className === "main-nav") {
            x.className += " responsive";
        } else {
            x.className = "main-nav";
        }
        var y = document.getElementById("menu-icon");
        if (y.className === "icon") {
            y.className += " responsive";
        } else {
            y.className = "icon";
        }
    }
</script>
<div class="wrapper-main">