---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: .3em;
}
.email > svg {
    display: inline-block;
    height: 16px;
    width: 140px;
    vertical-align: middle;
    horiz-align: left;
}

a {
    color: #5F9EA0;
    text-decoration: none;
}

a:hover {
    color: #5F9EA0;
    text-decoration: underline;
}

div.wrapper {
    max-width: 960px;
    margin: auto;
}

header, section, footer {
    float: none;
    position: static;
    width: auto;
}

header {
    padding: 0;
}

header h1 {
    font-family: 'Quicksand', sans-serif;
}

section {
    border: solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
}

header a small {
    display: inline;
}

header ul {
    position: absolute;
    right: 50px;
    top: 52px;
}

nav.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.main-nav ul li {
    float: left;
}

nav.main-nav ul li a {
    display: block;
    text-align: center;
    padding: 8px 32px 4px 0px;
    text-decoration: none;
}

nav.main-nav ul li a:hover:not(.active) {
}

nav.main-nav ul .active {
    color: #222;
    font-weight: bold;
}

@media screen and (max-width: 300px) {
    nav.main-nav ul li.right,
    nav.main-nav ul li {
        float: none;
    }
}