{%- include header.html -%}
<section>

    {%- if page.open == false -%}
    <div class="note"><p><cite>
        This position is closed right now but you can contact us anyway, we will take you into account when the position is open again.
    </cite></p></div>
    {%- endif -%}

    <h2>About Serendeepia</h2>

    <p>Serendeepia is synonym of Deep Learning and Data Science expertise. We are a multidisciplinar and experienced team with a strong background in Artificial Intelligence research, Advanced Analytics and Digital Business. Our core business is to build custom solutions based on state of the art research and we help our customers to develop their own capability to benefit from the use of advanced Artificial Intelligence techniques.</p>

    <p>If you want to know more about Serendeepia and how we work you can check our <a href="http://playbook.serendeepia.com">Playbook</a>. It will also help you to prepare your job application.</p>

    <h1>{{ page.title }}</h1>

    {{ content }}

    <p style="margin-top: 2em;">
        When applying please send your CV and some information about the projects you have worked on before that are relevant for the position. We would also want to know why you want to be part of Serendeepia.
    </p>

    <p style="text-align: center; margin-top: 2em;">
        <span class="icon">
            <svg viewBox="0 4.801209 28.3499966 18.7475815">
            <path fill="#4a3a8b"
                  d="M15.699194,17.7568531c-0.4572582,0.3048401-0.9145174,0.6096783-1.5241938,0.6096783 c-0.6096773,0-1.0669355-0.15242-1.5241938-0.6096783L0,6.7826605v16.1564522C0,23.2439518,0.3048387,23.54879,0.6096774,23.54879 h27.1306419c0.3048401,0,0.6096764-0.3048382,0.6096764-0.6096764V6.7826605L15.699194,17.7568531z"/>
            <path fill="#5945a6"
                  d="M14.9370966,15.7754021L27.587904,4.801209H0.9145162l12.6508064,10.9741936 C13.870162,16.0802422,14.4798384,16.0802422,14.9370966,15.7754021z"/>
            </svg>
        </span>
        <a href="mailto:careers@serendeepia.com">careers@serendeepia.com</a>
    </p>


</section>
{%- include footer.html -%}