{%- include header.html -%}

<section class="news">

    {%- if page.image -%}
        <div class="product-image"><img src="/assets/{{page.image}}"/></div>
    {%- else -%}
        <div class="product-image background-primary"></div>
    {%- endif -%}

    <div class="product-content">
        <h2>{{ page.title }}</h2>
        <div class="product-content-block">
            <div class="product-content-image">
                <a href="/assets/{{page.image}}" target="_blank">
                    <img src="/assets/{{page.image}}"/>
                </a>
            </div>
            <div class="product-content-text">{{ content }}</div>
            <div style="clear: both;"></div>
        </div>

        {%- if page.landing-form -%}
        <div id="product-form-container">
        <form id="form-{{ page.title | slugify }}">
            <p style="text-align: start; padding: 0;">{{ page.landing-form }}</p>
            <div id="product-form-info" class="form-group">
                <input type="hidden" name="product" value="{{ page.title | slugify}}"/>
                <input type="email" name="email" id="email" required="required" class="form-control form-inline"
                       style="width: 300px; margin-right: 20px; margin-bottom: 16px; display: inline;" placeholder="Email address">
                <button type="submit" id="submit-form" class="btn btn-secondary form-inline"
                        style="min-width: 100px; height: 48px; font-weight: bold;">
                    {%- if page.landing-form-button -%}
                        {{ page.landing-form-button }}
                    {%- else -%}
                        Submit
                    {%- endif -%}
                </button>
            </div>
        </form>
        <p style="text-align: start; display: none;" id="thanks-text">Done!</p>
        </div>
        {%- endif -%}
    </div>

</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/jquery.serialize-object.js"></script>
<script >
    var $form = $('form#form-{{ page.title | slugify }}'),
        url = 'https://script.google.com/macros/s/AKfycbwyu78tF05M7TiUGaPsK4AtZi3snzxydVi-U_7h0B19K_Q2J8s/exec';

    $('#submit-form').on('click', function(e) {
        e.preventDefault();
        var jqxhr = $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            data: $form.serializeObject(),
            success: function(response){
                document.getElementById("product-form-info").style.display = "none";
                document.getElementById("thanks-text").style.display = "block";
            }
        });
    })
</script>
{%- include footer.html -%}
